body * {
  box-sizing: border-box;
}

body {
  background: #364053;
}

/*grid-layouts*/

.row:before, .row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
}

.container-fluid {
  width: 100%;
  overflow: hidden;
}

.col-lg-12 {
  width: 100%;
}

.col-lg-11 {
  width: 91.66%;
}

.col-lg-10 {
  width: 83.33%;
}

.col-lg-9 {
  width: 75%;
}

.col-lg-8 {
  width: 66.66%;
}

.col-lg-7 {
  width: 58.33%;
}

.col-lg-6 {
  width: 50%;
}

.col-lg-5 {
  width: 41.66%;
}

.col-lg-4 {
  width: 33.33%;
}

.col-lg-3 {
  width: 25%;
}

.col-lg-2 {
  width: 16.66%;
}

.col-lg-1 {
  width: 8.333%;
}

@media all and (max-width: 1024px) {
  .md-hidden {
    display: none;
  }

  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-1 {
    width: 8.333%;
  }
}

@media all and (max-width: 640px) {
  .sm-hidden {
    display: none;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-1 {
    width: 8.333%;
  }
}

/*left nav*/

.nav {
  background: #364053;
  min-height: 100vh;
}

.nav-row {
  border-bottom: solid 2px #2f374a;
  border-top: solid 2px #394155;
}

.nav-profile {
  text-align: center;
  padding: 20px 20px;
}

.nav-profile-img {
  width: 75%;
  border-radius: 100%;
  margin-bottom: 15px;
}

.nav-profile-name {
  color: #909aad;
  font-size: .8em;
}

.nav-section {
  padding: 25px 15px;
}

.nav-section > .nav-menu-item :hover {
  background-color: #2f374a;
}

.nav-menu-section {
  color: #545f74;
  font-size: .8em;
  font-weight: bold;
  margin-bottom: 10px;
}

.nav-menu-item {
  color: #909aad;
  font-size: .8em;
  font-weight: bold;
  margin: 10px 0;
}

.nav-menu-item > p > .fa {
  margin-right: 7.5px;
}

.nav-checkbox-item {
  color: #909aad;
  font-size: .7em;
  font-weight: bold;
  margin: 10px 0;
}

.nav-checkbox-item > p > .fa {
  font-size: 1.2em;
  margin-right: 7.5px;
}

.page-search {
  background: #fff;
}

.fa-yellow {
  color: #ffff66;
}

.fa-blue {
  color: #6666ff;
}

.fa-red {
  color: #ff6666;
}

.fa-green {
  color: #66ff66;
}

.search-box {
  float: left;
  font-size: .8em;
  height: 45px;
  padding: 15px 40px;
  width: 70%;
}

.menu-box {
  background: #fff;
  color: #a0a1b3;
  display: flex;
  float: left;
  height: 45px;
  width: 7.5%;
  justify-content: center;
  align-items: center;
  border: 1px solid #dedede;
  transition: all .25s ease-in-out;
}

.menu-box:hover {
  background: #17a3fe;
  border-color: #17a3fe;
  color: #fff;
}

.menu-box-icon {
  font-size: 1.2em;
}

/*header*/

.page-header {
  background: #fff;
  padding: 40px 40px 20px 40px;
}

.page-title{
  color: #757378;
  margin-bottom: 15px;
}

.page-header-location {
  color: #757378;
  font-size: .8em;
}

.blue-text {
  color: #17a3fe;
}

.green-text {
  color: #66ff66;
}

.btn {
  border: none;
  border-radius: none;
  background: none;
  background-color: none;
}

.btn-default {
  background: #fff;
  border-radius: 30px;
  border: solid 2px #dedede;
  color: #888b96;
  display: flex;
  font-size: .7em;
  font-weight: bold;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.btn-default > .fa {
  font-size: 1.2em;
}

.header-btn {
  float: right;
  margin-left: 15px;
}

.tabs {
  padding: 0 40px;
}

.tab-select {
  color: #9fa1aa;
  float: left;
  font-size: .7em;
  font-weight: bold;
  margin-right: 30px;
  padding: 15px 0;
}

.tab-select.active {
  border-bottom: solid 3px #17a3fe;
  color: #666666;
}

.page-tabs {
  background: #fff;
}

.graph-wrapper {
  text-align: center;
  margin-bottom: 35px;
  position: relative;
}

.graph-image {
  width: 80%;
}

.graphs {
  background-color: #edf2f7;
  border-top: solid 2px #e0e5ea;
  padding: 40px 40px 10px 40px;
}

.graph-data {
  height: 100%;
  left: 0;
  padding-top: 30%;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.graph-data-head {
  color: #666e77;
}

.graph-data-body{
  color: #666e77;
  font-size: .8em;
}

.btn-center {
  display: flex;
  justify-content: center;
}

.bar-graph-wrapper {
  text-align: center;
}

.bar-graph {
  width: 75%;
}

.graph-btns {
  background-color: #edf2f7;
}

.page-break {
  background-color: #edf2f7;
  padding: 40px;
}

.table-wrapper {
  background-color: #edf2f7;
}

.table-col {
  padding: 40px 20px 40px 40px;;
}

.table-row {
  background: #fff;
  padding: 0 25px;
}

.table-row.inverse {
  background: #707d96;
}

.table-row.inverse > .table-info > .table-head{
  color: #fff;
  border: none;
}

.table-row.inverse > .table-info > .table-data {
  color: #fff;
  border: none;
}

.table-row.inverse > .table-info {
  border: none;
}

.table-info {
  border-bottom: solid 1px #f3f1f3;
}

.table-head {
  color: #7b7f87;
  float: left;
  font-size: .7em;
  font-weight: bold;
  padding: 25px 0;
  width: 25%;
}

.table-data {
  color: #7b7f87;
  float: left;
  font-size: .7em;
  padding: 25px 0;
  width: 75%;
}

.table-data-img {
  border-radius: 100%;
  width: 15%;
}

.social-wrapper {
  padding: 40px 40px 40px 20px;
}

.social-icons {
  margin-bottom: 20px;
}

.btn-social {
  color: #fff;
  font-size: .8em;
  padding: 15px;
  position: relative;
  width: 100%;
}

.btn-social > .fa {
  position: absolute;
  top: 15px;
  left: 15px;
}

.btn-social1 {
  background-color: #4e71c3;
}

.btn-social2 {
  background-color: #02a9f0;
}

.btn-social3 {
  background-color: #0380bd;
}

.link-card {
  border-bottom: solid 2px #e0e5ea;
  margin-bottom: 25px;
}

.link-card:last-child {
  border-bottom: none;
}

.link-card-head {
  color: #7b7f87;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 15px;
}

.link-card-link {
  background: #fff;
  color: #7b7f87;
  font-size: .7em;
  margin-bottom: 25px;
  padding: 15px;
  position: relative;
}

.link-card-body {
  color: #7b7f87;
  font-size: .7em;
  margin-bottom: 15px;
}

.btn-copy {
  background-color: #45bbbf;
  color: #fff;
  font-size: .7em;
  height: 100%;
  padding: 0 15px;
  position: absolute;
  right: 0;
  top: 0;
}

@media all and (max-width: 1024px) {
  .nav-profile-img {
    width: 100%;
  }

  .nav-menu-item {
    text-align: center;
    font-size: 1.5em;
  }

  .tab-select.active {
    border: none;
  }

  .page-header-top {
    margin-bottom: 30px;
  }

  .table-col {
    padding: 40px;
  }

  .social-wrapper {
    padding: 40px;
  }
}

@media all and (max-width: 640px) {
  .nav-menu-item {
    text-align: center;
    font-size: 1em;
  }

  .nav-section {
    padding: 15px 5px;
  }

  .table-row {
    padding: 10px 2.5px;
  }

  .table-head {
    width: 50%;
  }

  .table-data {
    width: 50%;
  }

  .tab-select {
    text-align: center;
    width: 100%;
  }
}
